html
{
	/* killing 300ms touch delay in IE */
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

body
{
	font-family: 'Fjalla One', sans-serif;
	background-color: #efefef;
}

#container
{
	width: 41.25em; /* 660 */
	text-align: center;
	padding: 0 1.25em; /* 20 */
	margin: 3.125em auto 6.25em; /* 50 100 */
}
#container ul
	{
	}
		#container li
		{
			display: inline-block;
			margin: 0.625em; /* 10 */
		}
			#container img
			{
				width: 8.75em; /* 140 */
				height: 8.75em; /* 140 */
				border-color: #eee;
				border: 0.625em solid rgba( 255, 255, 255, .5 ); /* 10 */

				-webkit-box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 ); /* 5 */
				box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 ); /* 5 */

				-webkit-transition: -webkit-box-shadow .3s ease, border-color .3s ease;
				transition: box-shadow .3s ease, border-color .3s ease;
			}
				#container img:hover,
				#container img:focus
				{
					border-color: #fff;

					-webkit-box-shadow: 0 0 0.938em rgba( 0, 0, 0, .25 ); /* 15 */
					box-shadow: 0 0 0.938em rgba( 0, 0, 0, .25 ); /* 15 */
				}
/* IMAGE LIGHTBOX SELECTOR */

		#imagelightbox
		{
			cursor: pointer;
			position: fixed;
			z-index: 10000;

			-ms-touch-action: none;
			touch-action: none;

			-webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
			box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
		}


		/* ACTIVITY INDICATION */

		#imagelightbox-loading,
		#imagelightbox-loading div
		{
			border-radius: 50%;
		}
		#imagelightbox-loading
		{
			width: 2.5em; /* 40 */
			height: 2.5em; /* 40 */
			background-color: #444;
			background-color: rgba( 0, 0, 0, .5 );
			position: fixed;
			z-index: 10003;
			top: 50%;
			left: 50%;
			padding: 0.625em; /* 10 */
			margin: -1.25em 0 0 -1.25em; /* 20 */

			-webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
			box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
		}
			#imagelightbox-loading div
			{
				width: 1.25em; /* 20 */
				height: 1.25em; /* 20 */
				background-color: #fff;

				-webkit-animation: imagelightbox-loading .5s ease infinite;
				animation: imagelightbox-loading .5s ease infinite;
			}

			@-webkit-keyframes imagelightbox-loading
			{
				from { opacity: .5;	-webkit-transform: scale( .75 ); }
				50%	 { opacity: 1;	-webkit-transform: scale( 1 ); }
				to	 { opacity: .5;	-webkit-transform: scale( .75 ); }
			}
			@keyframes imagelightbox-loading
			{
				from { opacity: .5;	transform: scale( .75 ); }
				50%	 { opacity: 1;	transform: scale( 1 ); }
				to	 { opacity: .5;	transform: scale( .75 ); }
			}


		/* OVERLAY */

		#imagelightbox-overlay
		{
			background-color: #fff;
			background-color: rgba( 255, 255, 255, .9 );
			position: fixed;
			z-index: 9998;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		/* CAPTION */

		#imagelightbox-caption
		{
			text-align: center;
			color: #fff;
			background-color: #666;
			position: fixed;
			z-index: 10001;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 0.625em; /* 10 */
		}